.bold {
    -fx-font-weight: bold;
}

.padding10 {
    -fx-padding: 10px 10px 10px 10px;
}

* {
    -fx-background-color: #26282b;
    -fx-text-fill: #aaacb2;
}

.button {
    -fx-background-color: #26282a;
    -fx-text-fill: #ffffff;
    -fx-border-color: #393b3f;
}

.button:hover {
    -fx-background-color: #3b67eb;
    -fx-text-fill: #ffffff;
    -fx-border-color: #2f4796;
}

.combo-box {
    -fx-background-color: #393640;
    -fx-text-fill: #dfe5e0;
    -fx-border-color: #4f5156;
}

.combo-box:hover {
    -fx-background-color: #3b67eb;
    -fx-text-fill: #dfe5e0;
    -fx-border-color: #4573e8;
}

.text-field {
    -fx-border-color: #4f5156;
}

.text-field:hover {
    -fx-border-color: #4573e8;
}

.text-area {
    -fx-text-fill: #dfe5e0;
    -fx-border-color: #4f5156;
}

.text-area {
    text-area-background: blue ;
}

.text-area .content {
    -fx-background-color: #1e1f22;
}

.tree-view {
    -fx-background-color: #1e1f22;
    -fx-text-fill: #dfe5e0;
    -fx-border-color: #4f5156;
}
